.moreOptions {
  border-radius: 7px;
  background: #f9f9fa;

  list-style: none;
  background-color: #f9f9fa;
  border-radius: 7px;
  width: 224px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 0 !important;
  margin: 0 !important;

  span {
    width: 100%;
    padding: 8px 10px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: inherit;
    color: var(--background);
    border-bottom: 1px solid rgba(109, 125, 147, 0.15);

    &:nth-child(3) {
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
    }

    &:nth-child(1) {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }

    &:active {
      background-color: var(--green);
    }
  }
}
