.joinTeam {
  width: 40%;
  position: relative;

  @media screen and (max-width: 1366px) {
    width: 60%;
  }

  @media screen and (max-width: 720px) {
    width: 95%;
  }

  .fields {
    display: grid;
    gap: 16px;

    input {
      width: 100%;
    }

    padding-bottom: 10px;

    .title {
      margin-top: 22px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 9px;
    }
  }

  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: right;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    button {
      padding: 0 5px;
    }
  }

  .close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;

    width: 26px;
    height: 26px;
  }
  .searchButton {
    display: flex;
    justify-content: flex-end;
  }
}
