.teamInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto minmax(280px, auto) auto 1fr;
  gap: 26px;

  grid-template-areas:
    'progress info info'
    'complete points points'
    'complete topTen topTen';

  @media screen and (max-width: 1450px) {
    grid-template-rows: auto auto 1fr;

    grid-template-areas:
      'progress info info'
      'complete points points'
      'complete topTen topTen';
  }

  @media screen and (max-width: 1366px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;

    grid-template-areas:
      'progress progress'
      'info info'
      'complete complete'
      'points points'
      'topTen topTen';
  }

  .progress {
    grid-area: progress;
  }
  .info {
    grid-area: info;
  }
  .complete {
    grid-area: complete;
  }
  .points {
    grid-area: points;
  }
  .topTen {
    grid-area: topTen;
  }
}
