.part_list {
  margin: 0 auto;
  @media screen and (max-width: 1366px) {
    width: 80%;
  }

  @media screen and (max-width: 720px) {
    width: 95%;
  }

  .table {
    width: 100%;

    .top {
      padding: 11px 0;
      width: 100%;
      display: grid;
      grid-template-columns: 1.5fr 1fr 2fr 1fr 30px 30px;
      font-weight: 500;
      font-size: 14px;
    }

    .list {
      .item {
        padding: 11px 0;
        display: grid;
        align-items: center;
        grid-template-columns: 1.5fr 1fr 2fr 1fr 30px 30px;

        span {
          font-weight: 400;
          font-size: 14px;
        }

        svg {
          cursor: pointer;
        }
      }
    }

    .oddPart {
      border-radius: 3px;
      background-color: var(--background-secondary);
    }

    .pagination {
      margin-top: 26px;
    }
  }

  .buttons {
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;

    button {
      font-size: 12px;
      width: 100px;
      height: 35px;
    }
  }
}
