.teams {
  display: flex;
  flex-direction: column;
  gap: 22px;

  a {
    width: 100%;
  }
}
.notFound {
  display: flex;
  align-items: center;
  gap: 20px;
  p {
    color: var(--red);
    font-weight: bold;
  }
}

.desc {
  max-width: 290px;
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--gray);
}
