.admin {
  .selectFilterCard {
    display: grid;

    max-width: 370px;
    padding: 0 10px;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }
  .mobileToolbar {
    display: none;
    height: 75px;
    position: relative;

    div {
      p {
        color: var(--green);
        padding-bottom: 6px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 2px solid var(--green);
      }
    }

    @media screen and (max-width: 950px) {
      display: block;
    }
 
    .mobileButtons {
      position: absolute;
      right: 12%;
      top: 6px;

      display: flex;
      align-items: center;
      gap: 7px;

      @media screen and (max-width: 400px) {
        right: 15%;
      }
    }
  }

  .toolbar {
    padding: 20px 30px;
    border-radius: 14px;
    background-color: var(--background);
    margin-bottom: 22px;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .buttons {
      display: flex;
      align-items: center;
      gap: 7px;
    }

    @media screen and (max-width: 950px) {
      display: none;
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 36px;

      @media screen and (max-width: 1366px) {
        gap: 12px;
      }

      li {
        white-space: nowrap;
        cursor: pointer;
        padding: 0 14px;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;

        padding-bottom: 10px;

        @media screen and (max-width: 1366px) {
          padding: 0 5px;
          padding-bottom: 10px;
          font-size: 14px;
        }
      }

      .active {
        color: var(--green);
        border-bottom: 2px solid var(--green);
      }
    }
  }
}
