.userProfileGrid {
    color: #fff;
    display: grid;
    gap: 26px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
  
    grid-template-areas:
    'progress info'
    'complete points'
    'activity activity';
  
    @media screen and (max-width: 1060px) {
      grid-template-rows: 1fr auto 1fr 1fr;
      grid-template-columns: 1fr;
    }
  
    @media screen and (max-width: 450px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto;
    }
  
    .progress {
      grid-area: progress;
    }
    .complete {
      grid-area: complete;
    }
    .points {
      grid-area: points;
    }
    .activity {
      grid-area: activity;
    }
    .info {
      grid-area: info;
    }
    .noComplete {
      max-height: 318px;
    }
  }
  