.news {
  display: flex;
  gap: 22px;

  width: 100%;

  @media screen and (max-width: 1060px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .card {
    width: 100%;
  }
}
